In [2]:
import math

In [3]:
#Question 1
radius = float(input("enter the radius of the circle:"))
area = math.pi*(radius**2)
print(f"the area of the circle is:{area:2f}")

enter the radius of the circle:3
the area of the circle is:28.274334

In [4]:
from os import name
#Question 2

In [5]:
name = input("enter the student's name:")
roll_number = input("enter the student's roll number:")
mark = input("enter the student's mark:")
print("Student Details:")
print(f"Name:{name}")
print(f"Roll Number:{roll_number}")
print(f"Mark:{mark}")

enter the student's name:anisha
enter the student's roll number:21
enter the student's mark:78
Student Details:
Name:anisha
Roll Number:21
Mark:78

In [6]:
#Question 3

In [7]:
def find_largest(numbers):
  largest=max(numbers)
  return largest
numbers = [12,3,47,10]
largest_number=find_largest(numbers)
print(f"{largest_number}is the largest")

47is the largest

In [8]:
previous_num=0
for current_num in range(1,11):
  print(f"Current Number{current_num}Previous Number {previous_num}Sum:{current_num+previous_num}")
  previous_num=current_num

Current Number1Previous Number 0Sum:1
Current Number2Previous Number 1Sum:3
Current Number3Previous Number 2Sum:5
Current Number4Previous Number 3Sum:7
Current Number5Previous Number 4Sum:9
Current Number6Previous Number 5Sum:11
Current Number7Previous Number 6Sum:13
Current Number8Previous Number 7Sum:15
Current Number9Previous Number 8Sum:17
Current Number10Previous Number 9Sum:19

In [9]:
#Question 5

In [10]:
numbers=[10,20,33,46,55]
for num in numbers:
  if num % 5 == 0:
    print(num)

10
20
55

In [11]:
#Question 6

In [12]:
def is_prime(n):
  if n<=1:
    return False
  for i in range(2,int(n**0.5)+1):
    if n % i == 0:
      return False
  return True
num = int(input("Enter the number:"))
if is_prime(num):
  print(f"{num}is a prime number.")
else:
  print(f"{num}is not a prime number.")

Enter the number:3
3is a prime number.

In [13]:
#Question 7

In [14]:
def reverse_list(input_list):
  reversed_list =[]
  for i in range(len(input_list)-1,-1,-1):
    reversed_list.append(input_list[i])
  return reversed_list
input_list = [10,40,30,70]
reversed_list=reverse_list(input_list)
print(reversed_list)

[70, 30, 40, 10]

In [15]:
#Question 8

In [16]:
for i in range(1,5):
  print("*"*i)

*
**
***
****

In [17]:
#Question 9

In [18]:
def find_max(a,b,c):
  if a >= b and a >= c:
    return a
  elif b >= a and b >=c:
    return b
  else:
    return c
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
c=int(input("Enter third number:"))
max_num=find_max(a,b,c)
print("Maximum number is:",max_num)

Enter first number:2
Enter second number:4
Enter third number:6
Maximum number is: 6

In [19]:
#Question 10

In [20]:
for i in range(1,6):
  for j in range(i):
    print("*",end="")
  print()
for i in range(4,0,-1):
  for j in range(i):
    print("*",end="")
  print()

*
**
***
****
*****
****
***
**
*